@model X.PagedList.IPagedList<ProjectSem3.Models.Topic>
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    int stt = 1;
}


<div class="row">
    <div class="col-12">
        <div>
            <h4 class="header-title mb-3">List of topis</h4>
        </div>
    </div>
</div>
@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success text-center">@TempData["UpdateSuccess"]</div>
}
@if (TempData["CreateSuccess"] != null)
{
    <div class="alert alert-success text-center">@TempData["CreateSuccess"]</div>
}
@{
    @if (TempData["errDelete"] != null)
    {
        <div class="alert alert-danger">
            @TempData["errDelete"]
        </div>
    }
}
<div class="d-flex justify-content-between align-items-center">
    <p>
        <a asp-action="Create" class="btn btn-success text-light">Create New</a>
    </p>
    <form asp-controler="Users" aps-action="Index" method="get" class="form-inline">
        <div class="form-group">
            <input type="text" name="name" class="form-control" />
            <button class="btn btn-success">Search</button>
        </div>
    </form>

</div>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                @Html.DisplayNameFor(model => model[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].CreatedAt)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@stt</td>
                @{
                    var Title = item.Title.Length > 10 ? item.Title.Substring(0, 10) + "..." : item.Title;
                }
                <td>
                    @Title

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TopicId" class="btn btn-info">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TopicId" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TopicId" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            stt++;
        }
    </tbody>
</table>
@* phân trang *@
<div class="d-flex justify-content-center mt-3">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
            new PagedListRenderOptions
    {
        UlElementClasses = new List<string> { "pagination" },
        LiElementClasses = new List<string> { "page-item" },
        PageClasses = new List<string> { "page-link" },
        ActiveLiElementClass = "active",
        // DisabledLiElementClass = "disabled" (Nếu cần thiết)
    })
</div>