@model X.PagedList.IPagedList<ProjectSem3.Models.Question>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-12">
        <div>
            <h4 class="header-title mb-3">List of questions</h4>
        </div>
    </div>
</div>
@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success text-center">@TempData["UpdateSuccess"]</div>
}
@if (TempData["CreateSuccess"] != null)
{
    <div class="alert alert-success text-center">@TempData["CreateSuccess"]</div>
}
@if (TempData["DeleteSuccess"] != null)
{
    <div class="alert alert-success text-center">@TempData["DeleteSuccess"]</div>
}
<div class="d-flex justify-content-between align-items-center">
    <p>
        <a asp-action="Create" class="btn btn-success text-light">Create New</a>
    </p>
    <form asp-controler="Users" aps-action="Index" method="get" class="form-inline">
        <div class="form-group">
            <input type="text" name="name" class="form-control" />
            <button class="btn btn-success">Search</button>
        </div>
    </form>

</div>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                @{
                    var Title = item.Account.FullName.Length > 10 ? item.Account.FullName.Substring(0, 10) + "..." : item.Account.FullName;
                }
                <td>
                    @Title

                </td>
                @{
                    var Content = item.Content.Length > 30 ? item.Content.Substring(0, 10) + "..." : item.Content;
                }
                <td>
                    @Content

                </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuestionId" class="btn btn-info">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuestionId" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuestionId" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="d-flex justify-content-center mt-3">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
            new PagedListRenderOptions
    {
        UlElementClasses = new List<string> { "pagination" },
        LiElementClasses = new List<string> { "page-item" },
        PageClasses = new List<string> { "page-link" },
        ActiveLiElementClass = "active",
        // DisabledLiElementClass = "disabled" (Nếu cần thiết)
    })
</div>